dist: xenial
language: node_js
node_js:
    - "8"

branches:
    except:
        - /^v[0-9]/

before_install:
    - scripts/setup-firebase-emulator-for-tests.sh

install:
    - npm ci

script:
    - npm run build
    - npm run testall-with-coverage-lcov

after_success:
    - npm run upload-coverage

deploy:
    - provider: script
      script: npx semantic-release
      skip_cleanup: true
      node_js: 8
      on:
          tags: false
          branch: master
